@model UserRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
       <div class="row">

           <div class="col-lg-6 col-12">
               <h2 class="text-white mb-4">Volunteer</h2>

               <form class="custom-form volunteer-form mb-5 mb-lg-0" method="post" role="form">
                   <h2 class="mb-4">@ViewData["Title"]</h2>
                   <h3 class="mb-4">Become a volunteer today</h3>

                   <div class="row">
                       <div class="col-lg-6 col-12">
                           <input type="text" class="form-control" id="volunteer-name" autocomplete="firstname" aria-required="true" placeholder="First Name" asp-for="@Model.FirstName" />
                           <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">                        
                           <input type="text" class="form-control" id="volunteer-name" autocomplete="lastname" aria-required="true" placeholder="Last Name" asp-for="@Model.LastName" />
                           <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">                        
                           <input type="text" class="form-control" id="volunteer-username" autocomplete="username" aria-required="true" placeholder="Nickname" asp-for="@Model.Username" />                      
                           <span asp-validation-for="@Model.Username" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">
                           <input type="text" class="form-control" id="volunteer-email" autocomplete="lastname" aria-required="true" placeholder="Email" asp-for="@Model.Email" />
                           <span asp-validation-for="@Model.Email" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">
                           <input type="text" class="form-control" id="volunteer-phonenumber" autocomplete="phonenumber" aria-required="true" placeholder="Phone Number" asp-for="@Model.PhoneNumber" />                        
                           <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">
                           <input class="form-control" id="volunteer-birthdate" autocomplete="" aria-required="true" value="01/01/1999" placeholder="Birth Date" asp-for="@Model.BirthDate" />
                           <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">
                           <input type="password" class="form-control" id="volunteer-password" autocomplete="password" aria-required="true" placeholder="Password" asp-for="@Model.Password" />
                           <span asp-validation-for="@Model.Password" class="text-danger"></span>
                       </div>

                       <div class="col-lg-6 col-12">
                           <input type="password" class="form-control" id="volunteer-password" autocomplete="" aria-required="true" placeholder="Confirm Password" asp-for="@Model.ConfirmPassword" />
                           <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                       </div>


@*                     <div class="col-lg-6 col-12">
                           <input type="text" name="volunteer-subject" id="volunteer-subject" class="form-control" placeholder="Subject" required>
                       </div>

                       <div class="col-lg-6 col-12">
                           <div class="input-group input-group-file">
                               <input type="file" class="form-control" id="inputGroupFile02">
                               
                               <label class="input-group-text" for="inputGroupFile02">Upload your CV</label>

                               <i class="bi-cloud-arrow-up ms-auto"></i>
                           </div>
                       </div>*@
                   </div>

                   <button type="submit" class="form-control">Submit</button> 
                   
                   <div class="mb-4">
                       <p>Already have an account? <a asp-controller="User" asp-action="Login">Sign in</a>.</p>
                   </div>
               </form>
           </div>

           <div class="col-lg-6 col-12">
               <img src="~/bootstrap/images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg" class="volunteer-image img-fluid" alt="">
               <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="carousel-caption">
                                <h4 class="carousel-title">Volunteering is at the very core of being a human.  No one has made it through life without someone else’s help.</h4>

                                <small class="carousel-name"><span class="carousel-name-title"> Heather French Henry</span></small>
                           </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}