@model OrganizationViewModel;

<div class="news-block">
    <div class="news-block-top">
        <a href="news-detail.html">
            <img src="@Url.Content(Model.Photo)" class="news-image img-fluid" alt="">
        </a>
    </div>

    <div class="news-block-info">
        <div class="d-flex mt-2">
            <div class="news-block-date">
                <p>
                    <i class="bi-calendar4 custom-icon me-1"></i>
                    @Model.Headquarter
                </p>
            </div>

            <div class="news-block-author mx-5">
                <p>
                    <i class="bi-person custom-icon me-1"></i>
                    By @Model.UserName
                </p>
            </div>

            @*<div class="news-block-comment">
                <p>
                    <i class="bi-chat-left custom-icon me-1"></i>
                    32 Comments
                </p>
            </div>*@
        </div>

        <div class="news-block-title mb-2">
            <h4><a href="" class="news-block-title-link">@Model.Name</a></h4>
        </div>

        <div class="news-block-body">
            <p>@Model.Description</p>
        </div>
    </div>
</div>