@model BecomeOrganizationFormModel

@{
    ViewData["Title"] = "Become Organization";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12">

            <form class="custom-form volunteer-form mb-5 mb-lg-0" enctype="multipart/form-data" method="post" role="form">
                <h2 class="mb-4">@ViewData["Title"]</h2>
                <h3 class="mb-4">Make the first step today</h3>

                <div class="row">
                    <div class="col-lg-6 col-12">
                        <input type="text" class="form-control" id="organization-name" autocomplete="name" aria-required="true" placeholder="Organization Name" asp-for="@Model.Name" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>

                    <div class="col-lg-6 col-12">                        
                        <input type="text" class="form-control" id="organization-headquarter" autocomplete="headquarter" aria-required="true" placeholder="Place" asp-for="@Model.Headquarter" />
                        <span asp-validation-for="@Model.Headquarter" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-12">                        
                    <textarea  asp-for="Description" class="form-control" rows="5" cols="40" placeholder="Write your description here."></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>                                

                <div class="col-lg-12 col-12">   
                    <input asp-for="Image" class="form-control" accept="image/*" required/>
                    <span asp-validation-for="@Model.Image" class="text-danger"></span>
                </div>

                <button type="submit" class="form-control">Submit</button> 
            </form>
        </div>

        <div class="col-lg-6 col-12 data-image">
            <img src="~/images/organization-table.png" class="volunteer-image" alt="">
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
